# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# Database
*.db

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Generated Reports
reports/*.pdf
reports/*.html

# Scan Results
scans/*

# Logs
*.log